<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Secure - JPHSA411</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar jphsa_navbar-inverse navbar-fixed-top">              @*<=======================================NEW================ *@

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <H1>JPHSA411 <sm>(Secure)</sm></H1>
                @*<a href="http://jphsa-ebweb2:65532/" target="_blank" class="h1">JPHSA411Secure</a>*@

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("JPHSA411_Secure", "Index", "Home")</li>
                    <li>@Html.ActionLink("IT", "IT_Dept", "Home")</li>
                    <li>@Html.ActionLink("BHCS", "BHCS_Dept", "Home")</li>
                    <li>@Html.ActionLink("Admin", "Admin_Dept", "Home")</li>
                    <li>@Html.ActionLink("JeffCare", "JeffCare_Dept", "Home")</li>
                    <li><a href="http://jphsa-ebweb2" target="_blank">JPHSA411</a></li>


                </ul>
                <div class="nav jphsa_navbar-text navbar-right">Hello, @User.Identity.Name!</div>             @*<=======================================NEW================ *@
            </div>
           
        </div>
    </div>



<div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
